<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>QuickLink Homepage</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <script>
      //search function
      function search() {
        var query = document.getElementById("searchQuery").value.toLowerCase();
        var table = document.getElementById("myTable");
        var rows = table.getElementsByTagName("tr");
        for (var i = 1; i < rows.length; i++) {
          var cells = rows[i].getElementsByTagName("td");
          var rowMatch = false; // Initialize a variable to track if any cell in the row matches the query
          for (var j = 0; j < cells.length - 1; j++) {
            var cellText = cells[j].innerText.toLowerCase();
            if (cellText.includes(query)) {
              // Check if the cell text includes the query nd set the flag true and break the loop
              rowMatch = true;
              break;
            }
          }
          rows[i].style.display = rowMatch ? "" : "none"; //show or hide the results
        }
      }
    </script>
   
  </head>

  <body>
    <div class="header">
      <div class="header-title">QuickLink URL Shortener</div>
      <div class="header-links">
        <a href="about">About</a>
        <!-- Include the About page using EJS syntax -->
      </div>
    </div>
    <div class="container">
      <!-- <br /> -->
      <h2 class="text-center mt-4 mb-2 text-uppercase" style="font-size: 28px">
        Shorten Your URLs Here
      </h2>
      <form
        action="/shortUrls"
        method="POST"
        class="my-4 form-inline text-center"
      >
        <div class="form-group">
          <label for="fullUrl" class="visually-hidden">URL</label>
          <input
            type="url"
            id="fullUrl"
            name="fullUrl"
            class="form-control mb-2"
            placeholder="Full URL"
            required
          />
          <input
            type="text"
            id="notes"
            name="notes"
            class="form-control mb-2"
            placeholder="Give a note to your URL"
          />
          <button type="submit" class="btn btn-success mx-auto">Shorten</button>
        </div>
      </form>
      <!-- <hr /> -->

      <br>


      <h4 class="text-center mt-4 mb-2 text-primary"style="font-size: 26px">
        Search Your Shortened URLs here
      </h4>
      <br />

      <!-- implementing the search -->
      <input
        placeholder="Search using your Url or Note"
        type="text"
        id="searchQuery"
        class="form-control col mr-2"
        onkeyup="search()"
      />
      <br />
      <div class="table-responsive">
        <table id="myTable" class="table table-striped">
          <thead>
            <tr>
              <th>Original URL</th>
              <th>Short URL</th>
              <th>Notes</th>
              <th>Click Count</th>
            </tr>
          </thead>
          <tbody>
            <% shortUrls.forEach(shortUrl => { %>
            <tr>
              <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
              <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
              <td><%= shortUrl.notes %></td>
              <td><%= shortUrl.clicks %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <br>
      <br>
    </div>
    <footer>
      <!-- Footer section -->
      <div class="footer">
        <!-- Footer content -->
        <span
          >&copy; 2023 All rights reserved. Created with ❤️ by Vaishnavi.</span
        >
      </div>
    </footer>
  </body>
</html>
